<% if @user.errors.any? %>
  <h2>The following errors prevented the user from being saved</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |form| %>
  <p>Email: <%= form.text_field :email,class: "form-control" %></p>
  <p>Username: <%= form.text_field :username,class: "form-control" %></p>
  <p>First Name: <%= form.text_field :firstname,class: "form-control" %></p>
  <p>Last Name: <%= form.text_field :lastname,class: "form-control" %></p>
  <p>Bio: <%= form.text_field :bio,class: "form-control" %></p>    
  


  <fieldset>
        <legend>Socials:</legend>
        <%= form.fields_for :socials do |social_form| %>
            <%= render "social_fields", form: social_form %>
        <% end %>
        <%= link_to_add_fields "Add socials", form, :socials %>
    </fieldset>  
   <br>
  <div class="form-actions">
    <%= form.submit %>      
  </div>  

<% end %>

