<div class="nested-fields">
  <div class="field">
    <%= f.label :name%>
    <%= f.text_field :name%>

    <%= f.label :link%>
    <%= f.text_field :link%>

    <%= link_to_remove_association "Remove social", f %>
  </div>
</div>